#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border: 1px solid rgba(255, 255, 255, 0.5); 
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  color: #2c0000; 
  display: flex;
  justify-content: center;
}

input {
  padding: 8px;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
}

button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(76, 175, 80, 0.8);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(97, 218, 212, 0.63);
}

p {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}
